@import "tailwindcss";

:root {
  --backgroundPrimary: #2B2B2B;
  --backgroundSecondary: #101010;
  --textPrimary: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono-sans: var(--font-sans);
  --font-mono-dm: var(--font-dm);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM_Mono", "DM_Sans", sans-serif;
}