@import "tailwindcss";
@layer theme, base, components, utilities;

:root {
  --backgroundPrimary: #2B2B2B;
  --backgroundSecondary: #101010;
  --buttonBackground: #1E1E1E;
  --linkHover: #34345c;
  --textPrimary: #FFFFFF;
  --font-sans: 'DM_Sans', sans-serif;
  --font-mono: 'DM_Mono', monospace;
}

@theme inline {
  --color-primary-background: var(--backgroundPrimary);
  --color-secondary-background: var(--backgroundSecondary);
  --color-primarytext: var(--textPrimary);
  --color-button-background: var(--buttonBackground);
  --color-link-hover: var(--linkHover);
  --font-sans-dm: var(--font-sans);
  --font-mono-dm: var(--font-mono);
}

body {
  background: var(--primary-background);
  color: var(--primarytext);
  font-family: "DM_Mono", "DM_Sans", sans-serif;
}